#searchForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.searchContainer {
  background-color: #21366e;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  /* position: fixed; */
  width: 100%;
  border-radius: 10px;
}
#searchBar {
  width: 90%;
  margin-left: 1em;
}

.allFilterContainer {
  /* background-color: #21366e; */
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  margin-left: 0.5em auto;
  /* min-width: 500px; */
  flex-wrap: wrap;
  width: 100%;

  background-color: #21366e;
}
.filterContainer {
  color: black;
  font-weight: bold;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.5em;

  max-width: 90%;
  /* max-width: 85%; */
  /* padding-bottom: 5px; */
  /* padding-left: 10px; */
  /* margin-top: 10px; */
  background-color: white;
  border-radius: 10px;

  height: auto;
  /* display: flex;
  flex-direction: row; */

  /* display: flex;
  flex-direction: row; */

  width: auto;
  margin-left: 1em;
}

.filterNameContainer {
  width: 100%;
  /* min-width: 85px; */
  margin-right: 5px;
}

.filterName {
  text-align: center;
  padding-right: 7px;
  padding-left: 7px;
  background-color: #e63422;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  color: white;
  width: 30%;
}

.filterChoices {
  margin-left: 5px;
  margin-top: 2px;
  margin-right: 5px;
  background-color: red;
  position: absolute;
  width: inherit;
}
.filterChoice:after {
  background-color: #1d252d;
}

/* Geosuggest */
.geosuggest {
  font-size: 10px;
  font-size: 1rem;
  position: relative;
  width: 95%;
  min-width: 260px;
  margin: 0.2em;
  margin-bottom: 0.5em;
  text-align: left;
}
.geosuggest__input {
  border: solid white 5px;
  border-radius: 5px;
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: 0.5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item {
  font-size: 15px;
  font-weight: bold;
  color: #21366e;
  background-color: white;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: #21366e solid 2px;
  transition-duration: 350ms;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background-color: #21366e;
  color: white;
  text-decoration: none;
  transition-duration: 200ms;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}

@media screen and (min-width: 670px) {
  .geosuggest__input {
    min-width: 500px;
  }
  .locationFilterContainer {
    min-width: 550px;
  }
}

.locationFilterContainer {
  color: black;
  font-weight: bold;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.5em;

  max-width: 90%;

  background-color: white;
  border-radius: 10px;

  height: auto;

  width: auto;
  margin-left: 1em;
}

.filterNameContainer {
  width: 100%;
  /* min-width: 85px; */
  margin-right: 5px;
}
