.addCourseBox {
    width: 80%;
    margin-top: 20px;
    margin-left: 50px;
    background-color: #85b3d1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 10px;
  }
  