.registerBox {
  width: 80%;
  margin-top: 20px;
  margin-left: 50px;
  background-color: #85b3d1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 10px;
}

.homeLink {
  color: black;

  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  transition-duration: 0.3s;
  border: solid black 3px;
}
.homeLink:hover {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #006cb0;
  border-radius: 10px;
  transition-duration: 0.3s;
  border: solid black 3px;
}
