.box {
    width: 100%;
    background-color: #85b3d1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .box {
        width: 80%;
        margin-top: 20px;
        margin-left: 50px;
    }
}

.pageHeader {
    color: white;
    font-size: 30px;
    background-color: #2460A7;
    width: 25%;
    min-width: 250px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
};

