#courseItem {
  border: solid white 5px;
  border-radius: 10px;
  color: #21366e;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  flex-direction: row;
  font-size: 1em;
  background-color: #ffc845;
  /* min-height: 300px;
    max-height: 300px; */
}

@media screen and (min-width: 500px) {
  #courseItem {
    display: flex;
  }
}

/* for small screen */
@media screen and (max-width: 900px) {
  .infoContainer {
    min-width: 95%;
    font-size: 1em;
  }
}

/* for big screen */
@media screen and (max-width: 900px) {
  .infoContainer {
    min-width: 95%;
    font-size: 1em;
  }
}

.courseImg {
  border-radius: 10px;
  border: 5px solid #21366e;
}

#courseImgContainer {
  background-color: #ffc845;
  border-radius: 20px;
  color: black;
  min-width: 25%;
  min-height: 50%;
  max-height: 100%;
  margin-bottom: 10px;
}

#courseHeaderContainer {
  display: flex;
  flex-direction: row;
}
#courseTitleContainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
}

.courseTitle {
  font-size: 1.5em;
  font-weight: bold;
  color: #21366e;
  background-color: white;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: #21366e solid 5px;
  transition-duration: 350ms;
}

.courseTitle:hover {
  background-color: #21366e;
  color: white;
  text-decoration: none;
  transition-duration: 200ms;
}

.courseService {
  font-size: 1em;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  color: white;
  background-color: #21366e;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}
.infoLine {
  margin-top: 10px;
  /* background-color: white; */
  color: #21366e;
  display: inline-block;
  flex-direction: row;
  font-size: 1.2em;
  width: auto;
  /* background-color: red; */
  width: auto;
  /* max-width: 70%; */
  text-align: center;
}
.infoTitle {
  /* width: 100%; */
  background-color: #21366e;
  font-weight: bold;
  /* padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.2em; */
  margin-right: 0.5em;
  /* min-width: 5em; */
  max-width: 60%;
  /* display: flex; */
  border: #21366e solid 2px;
  color: white;
}

.infoContainer {
  width: 50%;
  /* max-width: 80%; */
  font-weight: bold;
  display: flex;
  flex-direction: bold;
  color: #21366e;
  background-color: white;
  border-radius: 5px;
  /* margin-left: 5px; */
  /* text-align: center; */
  border: #21366e solid 2px;
}

.trainerInfoTitleContainer {
  /* width: 15%;
    min-width: 15%;
    max-width: 15%;
    margin-right: 5px;
    background-color: #21366e;
    border: #21366e solid 2px;
    border-radius: 5px;
    text-align: center; */
  background-color: blue;
}
.trainerInfoContainer {
  width: auto;
  /* max-width: 80%; */
  font-weight: bold;
  display: flex;
  flex-direction: bold;
  color: #21366e;
  background-color: white;
  border-radius: 5px;
  /* margin-left: 5px; */
  border: #21366e solid 2px;
}

.trainerName {
  margin-left: 10px;
  margin-right: 5px;
}

.ratingContainer {
  background-color: #21366e;
  border-radius: 5px;
  color: #fed141;
  max-height: 30px;
}
.descriptionTitle {
  background-color: #21366e;
  padding-top: 1px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}

.descriptionLine {
  margin-top: 10px;
  background-color: white;
  margin-right: 20px;
  border-radius: 5px;
  color: white;
  border: #21366e solid 3px;
}

.courseDescriptionBox {
  font-size: 1.2em;
  color: #21366e;
  margin-left: 5px;
  background-color: white;
}

.infoText {
  font-weight: bold;
  font-size: 1.2em;
  color: #21366e;
  background-color: white;
  border-radius: 10px;
  width: 30%;
  max-width: 30%;
  text-align: center;
  display: flex;
  flex-direction: row;

  border: #21366e solid 2px;
}

@media screen and (min-width: 500px) {
  #courseImgContainer {
    margin-right: 15px;
    max-width: 25%;
  }

  #courseItemInfo {
    width: 75%;
    max-width: 75%;
    min-width: 75%;
  }

  .courseTitle {
    margin-right: 15px;
  }
  #courseServiceContainer {
    float: right;
    min-width: 30%;
    max-width: 30%;
    margin-right: 10px;
  }
  .courseService {
    width: 90%;
  }

  .infoTitleContainerNew {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    /* background-color: blue; */
  }

  .trainerInfoContainer {
    margin-right: 10px;
  }

  .ratingContainer {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
