#sortBarContainer {
  background-color: #00b398;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  border-radius: 10px;
}

@media screen and (min-width: 520px) {
  #sortBarContainer {
    display: flex;
  }
}

#searchResult {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1000px;
}

#coursesBox {
  /* overflow-y: scroll; */
  /* max-height: 120vh; */

  /* margin-top: 30em; */
}
