#sortBarContainer {
  background-color: #00b398;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;

  color: white;
}

#searchResult {
  padding-top: 10px;
  padding-bottom: 10px;
}
