.searchNameTitleContainer {
  width: 15%;
  height: 15%;
  min-width: 15%;
  max-width: 15%;
  margin-right: 5px;
  background-color: #21366e;
  border: #21366e solid 2px;
  border-radius: 5px;
  text-align: center;
}
#searchCoursesContainer {
  flex-direction: row;
  /* margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px; */
  background-color: #85b3d1;
}
@media screen and (min-width: 768px) {
  #searchCoursesContainer {
    display: flex;
  }

  .pageContainerDiv{
    width: 80%;
    margin-top: 20px;
    margin-left: 50px;
  }
}

.pageContainerDiv {
  width: 100%;
  background-color: #85b3d1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 10px;
}

#resultsContainer {
  background-color: #98dbce;
  /* border: solid white 5px; */
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  #searchContainer {
    margin-right: 10px;
    width: 100%;
  }

  #resultsContainer {
    padding-left: 5em;
    padding-right: 5em;
  }
}
