#searchBox {
  background-color: #0957c3;

  width: 100%;
  color: white;
  border: solid white 5px;
  border-radius: 10px;

  margin-right: 20px;
  padding: 15px 15px 8px 15px;
}
#searchForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#searchBar {
  width: 100%;
}

.filterContainer {
  color: black;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;

  width: 100%;
}

.filterNameContainer {
  width: 35%;
  min-width: 85px;
  margin-right: 5px;
}

.filterName {
  text-align: center;
  padding-right: 7px;
  padding-left: 7px;
  background-color: #e63422;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  color: white;
  width: 100%;
}

.filterChoices {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: red;
  position: absolute;
  width: inherit;
}
.filterChoice:after {
  background-color: #1d252d;
}
